head {
	background-color:#ccffcc;
}

body {
	background-color: rgb(255,201,90);
}

h1, h2 {
	font-weight:900;
	text-align:center;
}

h4 {
	text-align:center;
}

.sisalto h4 {
	text-align:center;
	font-weight:normal;
}

label {
	font-weight:bold;
}

footer {
	text-align:center;
	font-weight:bold;
	padding: 20px;
}

.header {
	align-items: center;
}

.sisaltoEtusivu {
	margin:auto;
	padding:20px;
	width:60%;
	height:740px;
	background-color:#ffffff;
	border-radius: 6px;
	border: 3px solid black;
}

.sisaltoEsikatselu {
	margin:auto;
	padding:20px;
	width:60%;
	height:670px;
	background-color:#ffffff;
	border-radius: 6px;
	border: 3px solid black;
}

.varmistus {
	margin:auto;
	padding:20px;
	width:60%;
	height:300px;
	background-color:#ffffff;
	border-radius: 6px;
	border: 3px solid black;
}

.lomake {
	margin:auto;
	padding:20px;
	width:60%;
	height:800px;
	background-color:#ffffff;
	border-radius: 6px;
	border: 3px solid black;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: white;
    color: #000000;
    text-align: center;
    border-radius: 6px;
    border: 2 px solid #000000;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -10px;
    left: 300%;
    border: 2px solid #000000;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

#infoEsikatselu {
	text-align: center;
}

#naytaTeksti {
	border-color: #ff4d4d;
	border-style: solid;
	font-weight:bold;
}

#kela {
	margin: auto;
	position: center;
	padding: 20px;
}

#exit {
	text-align:center;
}

#selectWidth {
	width:280px;
}

#otsikko {
	font-family: ff-meta-headline-web-pro, sans-serif;
	font-style: normal;
	font-weight: 700;
}

#text {
	text-align:center;
}