<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Booking for SportLessons</title>
    <meta charset='utf-8'  />
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>



    <link href="/webjars/fullcalendar/2.2.5/fullcalendar.css"
          th:href="@{/webjars/fullcalendar/2.2.5/fullcalendar.css}"
          rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/event.css}"/>

    <script
            th:src="@{/webjars/momentjs/2.9.0/min/moment.min.js}"
            type="text/javascript"></script>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.3/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.3/jquery.min.js}" type="text/javascript"></script>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.3/jquery.min.js"
            th:src="@{/webjars/fullcalendar/2.2.5/fullcalendar.min.js}"
            type="text/javascript"></script>


    <link rel="stylesheet"
          href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css"
          th:href="@{/webjars/jquery-ui/1.11.2/jquery-ui.css}" />
    <script
            src="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css"
            th:src="@{/webjars/jquery-ui/1.11.2/jquery-ui.js}"
            type="text/javascript"></script>

    <script           src="/js/CustomCalender.js"
                      type="text/javascript"
    >
  </script>




</head>
<body>

<div id="header">
    <h1>Calendar</h1>
</div>

<div id='script-warning'>
</div>

<div id='loading'>loading...</div>

<div id='calendar'></div>

<div id="dialog-form" title="Create new Sport Event">
    <form id="event-form">
        <fieldset>
            <label>title</label>
            <input type="text" name="newtitle" id="newtitle" value="New Event" class="text ui-widget-content ui-corner-all"/>

            <label for="description">description:</label>
            <input type="text" name="description" id="description" value="" class="text ui-widget-content ui-corner-all "/>

            <br/>
            <label for="startdateandtime">starts:</label>
            <input type="datetime-local" id="startdateandtime"/>
            <br/>
            <label for="enddateandtime">ends:</label>
            <input type="datetime-local" id="enddateandtime"/>
            <input type="hidden" name="uid" id="uid"/>
            <br/>
            <label for="participantLimit">Enroll limit:</label>
            <input type="number" id="participantLimit"/>

            <input type="submit" tabindex="-1" style="position:absolute; top:-1000px"/>
        </fieldset>
    </form>
</div>

<div id="edit-dialog-form" title="Modify an Event">
    <form id="edit-event-form">
        <fieldset>
            <label>title</label>
            <input type="text" name="modtitle" id="modtitle" value="New Event" class="text ui-widget-content ui-corner-all"/>

            <label for="description">description:</label>
            <input type="text" name="moddescription" id="moddescription" value="" class="text ui-widget-content ui-corner-all "/>
            <label for="modstartdateandtime">starts:</label>
            <input type="datetime-local" id="modstartdateandtime"/>
            <br/>
            <label for="modenddateandtime">ends:</label>
            <input type="datetime-local" id="modenddateandtime"/>
            <br/>
            <p id="reservation"></p>
            <input type="hidden" name="moduid" id="moduid"/>
            <input type="submit" tabindex="-1" style="position:absolute; top:-1000px"/>
            <input type="hidden" name="modusers" id="modusers"/>
            <input type="submit" tabindex="-1" style="position:absolute; top:-1000px"/>
            <input type="hidden" name="modparticipantLimit" id="modparticipantLimit"/>
            <input type="submit" tabindex="-1" style="position:absolute; top:-1000px"/>

        </fieldset>

    </form>

</div>
</body>
</html>
